
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #212428;
}

input {
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 55px;
    padding: 20px 5px;
    background-color: #38AA89;
    cursor: pointer;
}

.qty {
    display: inline-block;
    width: 200px;
    padding: 20px 5px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}
