* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #e4ca21;
  text-align: center;
}

.heading {
  font-family: "Lucida Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.color-code-heading {
  margin-top: 30px;
  font-family: "Lucida Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.input-block {
  display: grid;
  place-content: center;
}

.input-item {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 4px;
  margin: 15px 0;
}

.input-block .hash-tag {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #000;
  font-weight: bold;
}

input[type="text"] {
  outline: none;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 4px 10px #b3b1b1;
  color: #333;
  padding: 10px;
  height: 40px;
  width: 300px;

  &:focus {
    border-color: #000;
  }
}

.hex-code-input {
  margin-left: 30px;
}

button {
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: max-content;
}

#color-change-btn {
  margin: 0 auto;
  padding: 15px 40px;
  background-color: blue;
  box-shadow: 2px 2px 10px rgb(123, 136, 255);
  color: #fff;

  &:hover {
    background-color: rgb(54, 54, 255);
  }
}

.copy-btn {
  background-color: blue;
  border: 1px solid blue;
  box-shadow: 2px 4px 10px #b3b1b1;
  padding: 4px;
  display: grid;
  place-content: center;

  &:hover {
    background-color: rgb(241, 73, 73);
    border-color: rgb(241, 73, 73);
  }
}

.toaster {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  padding: 13px 20px;
  background: green;
  color: white;
  font-weight: 600;
  font-family: system-ui;
  cursor: pointer;
  /* transform: translateX(calc(100% + 100px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35); */
}

/* .toaster.active{
  transform: translateX(0);
} */

.toaster-slide-in {
  animation: toaster-animation-in 0.5s ease-in;
}

.toaster-slide-out {
  animation: toaster-animation-out 0.5s ease-out;
}

@keyframes toaster-animation-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toaster-animation-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
