
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
}

.heading {
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

.input-block {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 30px 0;
}

input[type=text] {
  outline: none;
  border: 1px solid #707070;
  background-color: #fff;
  color: #333;
  padding: 10px;
  width: 300px;

  &:focus {
    border-color: #000;
  }
}

button {
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: max-content;
}


#color-change-btn {
  margin: 0 auto;
  padding: 15px 40px;
  background-color: blue;
  box-shadow: 2px 2px 10px rgb(123, 136, 255);
  color: #fff;

  &:hover {
    background-color: rgb(54, 54, 255);
  }
}

#copy-btn {
  background-color: red;
  padding: 4px;
  display: grid;
  place-content: center;

  &:hover {
    background-color: rgb(241, 73, 73);
  }
}